<!DOCTYPE html>
<html lang="en">
<head>
  {{>head}}
</head>
<body>
    
   
    <!-- main header  -->
    <div class="container-fluid main_header_error">
        <div class="row">
            <div class="col-md-8 col-12 mx-auto">
                <div class="row-error">
                
                  <!-- right div  -->
                  <div class="col-md-12 col-12 main_header_error align-items-center">
                    
                         <figure>
                            <img class="image" src="images/error1.png" alt="404" class="img-fluid" title="Error-page">
                             
                         </figure> 
                         <div class="errormsg">
                         <p>There must be an error!!</p>
                             <h1>{{errorMsg}}</h1>
                             <button class="btn"><a href="/">Go Back</a></button>
                         </div>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <footer> -->
        
</body>
</html>