<!DOCTYPE html>
<html lang="en">
<head>
     {{>head}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid contact_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                    <div class="row">
                        <div class="contact-form">
                            <form action="/contact" method="POST" >
                               
                                <div class="row">
                                    <div class="input-group">
                                        <h3>Name:</h3>
                                        <input type="text" placeholder="Enter your name" class="input-control" name="name">
                                    </div>
                                    <div class="input-group">
                                        <h3>E-mail:</h3>
                                        <input type="email" placeholder="Enter your email" class="input-control" name="email">
                                    </div>
                                    <div class="input-group"> 
                                        <h3>Subject:</h3>

                                        <input type="text" placeholder="Enter Subject" class="input-control" name="subject">
                                    </div>
                                    <div class="input-group">
                                        <h3>Message:</h3>
                                        <textarea placeholder=" Write a Message" class="input-control" name="msg"></textarea>
                                    </div>
                                    <div class="submit-btn">
                                        <button type="submit" class="btn">Send Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-item">
                                <h3>Email :</h3>
                                <p><a class="con" href="mailto:raya.basu.01@gmail.com"> <i class="fa-solid fa-envelope"></i> <span>
                                    raya.basu.01@gmail.com</span></a></p>
                            </div>
                            <div class="contact-info-item">
                                <h3>Website :</h3>
                                <p><a class="con" href="https://rayabasu.netlify.app/"> <i class="fa-solid fa-globe"></i> <span>
                                    rayabasu.netlify.app</span></a></p>
                            </div>
                            <div class="contact-info-item">
                                <h3>Phone :</h3>
                                <p><a class="con" href="tel:+917003240146"><i class="fa-solid fa-mobile-retro"></i><span> 70******46</span></a></p>
                            </div>
                            <div class="contact-info-item">
                                <h3>Follow Me on :</h3>
                                <div class="social-links">
                                    <a href="https://www.linkedin.com/in/raya-basu-3144981b4" target="_blank"><i
                                            class="fab fa-linkedin"></i></a>
                                    <!-- <a href="https://github.com/RayaBasu01" target="_blank"><i
                                            class="fab fa-github"></i></a> -->
                                    <a href="https://www.facebook.com/rimi.basu.56" target="_blank"><i
                                            class="fab fa-facebook-f"></i></a>
                                    <a href="https://twitter.com/BasuRaya?s=20&t=TiGecA1FBdBc7P7tB94wKg" target="_blank"><i
                                            class="fab fa-twitter"></i></a>
                                    <a href="https://instagram.com/soul_loves_peace_01?igshid=YmMyMTA2M2Y="
                                        target="_blank"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                 
                
            </div>
        </div>
    </div>

    <!-- <footer> -->
        {{>footer}}
</body>
</html>