<!DOCTYPE html>
<html lang="en">
<head>
     {{>head}}
</head>
<body>
    {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid contact_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
                    <div class="row">
                        <div class="contact-form">
                            <form action="/contact" method="POST" >
                               
                                <div class="row">
                                    <div class="input-group">
                                        <h3>Name:</h3>
                                        <input type="text" placeholder="Enter your name" class="input-control" name="name">
                                    </div>
                                    <div class="input-group">
                                        <h3>E-mail:</h3>
                                        <input type="email" placeholder="Enter your email" class="input-control" name="email">
                                    </div>
                                    <div class="input-group"> 
                                        <h3>Subject:</h3>

                                        <input type="text" placeholder="Enter Subject" class="input-control" name="subject">
                                    </div>
                                    <div class="input-group">
                                        <h3>Message:</h3>
                                        <textarea placeholder=" Write a Message" class="input-control" name="msg"></textarea>
                                    </div>
                                    <div class="submit-btn">
                                        <button type="submit" class="btn">Send Now</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="contact-info">
                            <div class="contact-info-item">
                                <h3>Email :</h3>
                                <p><a class="con" href="mailto:raya.basu.01@gmail.com"> <i class="fa-solid fa-envelope"></i> <span>
                                    raya.basu.01@gmail.com</span></a></p>
                            </div>
                            <div class="contact-info-item">
                                <h3>Website :</h3>
                                <p><a class="con" href="https://rayabasu.netlify.app/"> <i class="fa-solid fa-globe"></i> <span>
                                    rayabasu.netlify.app</span></a></p>
                            </div>
                            
                           
                        </div>
                    </div>
                 
                
            </div>
        </div>
    </div>

    <!-- <footer> -->
        {{>footer}}
</body>
</html>